/* 
******************************
HERO SECTION
****************************** 
*/

/* Box illustration */
.hero-box-illustration {
  margin: 4.2rem 0 2.4rem 0;
}

.hero-box-illustration img {
  width: 100%;
  display: block;
}

/* Box information */
.hero-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.2rem;
  margin-bottom: 1.5rem;
}

.hero-text p {
  font-size: 1.4rem;
  line-height: 140%;
}

.hero-box-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  min-height: 5.6rem;
}

.hero-box-buttons .btn-primary {
  flex: 1;
  text-transform: capitalize;
}

.hero-box-buttons .btn-secondary {
  flex: 1;
}

.slogan {
  font-size: 1.4rem;
  line-height: 140%;
  text-align: center;
  padding: 0 1rem;
}

/* Partners logo */
.partners-logo {
  display: flex;
  gap: 3.6rem;
  height: 3.6rem;
  overflow: hidden;
}

/* 
******************************
ABOUT US SECTION
****************************** 
*/
.section-about-us {
  background-color: var(--primary-peach-color);
  position: relative;
}

.about-box-illustration {
  margin-bottom: 4.8rem;
}

.about-box-illustration img {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
}

.about-box-illustration::after {
  content: "";
  display: inline-block;
  position: absolute;
  background: url("https://ui8-assets.s3.us-east-1.amazonaws.com/omoway/shape/grid-shape.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 45.7rem;
  top: 0;
  left: 0;
}

.about-box-information h2 {
  text-transform: capitalize;
}

.about-text {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 2.4rem;
}

.about-button {
  display: flex;
  justify-content: center;
  height: 5.6rem;
  letter-spacing: -0.1px;
}

/* 
******************************
POSTING SECTION
****************************** 
*/

/* Section */
.section-post {
  background-color: var(--secondary-black-color);
}

/* Grid layout */
.current-posts {
  display: grid;
  row-gap: 2.4rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.posts {
  display: flex;
  flex-direction: column;
}

.box--1 {
  gap: 3.2rem;
}

.box--2 {
  gap: 4.2rem;
}

/* Heading */
.post-heading {
  color: var(--primary-warmth-color);
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.post-title {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.post-title p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 100%;
}

.heading-3 {
  text-transform: capitalize;
  font-size: 4.2rem;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.3px;
}

/* Card Post */
/* Flex layout */
.lists-post {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

/* Card */
.post-card {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.post-card img {
  display: block;
  width: 100%;
  border-radius: 2.4rem;
}

/* Tags */
.card-tags {
  display: flex;
  align-items: center;
  gap: 2.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 100%;
  color: var(--secondary-medium-gray);
  margin-bottom: 1.2rem;
}

/* title */
.card-title {
  color: var(--primary-warmth-color);
  font-size: 2.4rem;
  letter-spacing: -0.1px;
  font-weight: 500;
  line-height: 100%;
}

/* Post footer */
.post-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}

.post-footer button img {
  display: none;
}

.post-footer button {
  font-size: 1.8rem;
  padding: 1.6rem 2.4rem;
}

.post-footer p {
  text-align: center;
  font-size: 1.4rem;
  line-height: 140%;
  color: var(--secondary-light-gray);
}

/* MEDIA QUERIES */
@media screen and (min-width: 1024px) {
  /* 
    ******************************
    POSTING SECTION
    ****************************** 
  */
  .current-posts {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4.2rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .post-title p {
    font-size: 1.6rem;
    line-height: 140%;
    font-weight: normal;
  }

  .heading-3 {
    text-transform: initial;
    font-size: 4.8rem;
    letter-spacing: -0.2px;
  }

  .heading-3::first-letter {
    text-transform: capitalize;
  }

  .lists-post {
    gap: 6.4rem;
  }

  .post-card img {
    border-radius: 4.2rem;
  }

  .card-tags {
    font-size: 2rem;
    letter-spacing: -0.1px;
    margin-bottom: 1.6rem;
  }

  .card-title {
    font-size: 3rem;
    letter-spacing: -0.2px;
  }

  .post-footer {
    align-items: start;
    padding-left: 12rem;
    gap: 4.2rem;
  }

  .post-footer p {
    font-size: 1.6rem;
    text-align: start;
  }

  .post-footer button img {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
  }
}

@media screen and (min-width: 1440px) {
  /* 
    ******************************
    POSTING SECTION
    ****************************** 
  */

  .current-posts {
    padding-left: 7.5rem;
    padding-right: 7.5rem;
    gap: 5.6rem;
  }

  .heading-3 {
    font-size: 7.2rem;
    letter-spacing: -0.3px;
  }

  .card-title {
    font-size: 3.8rem;
  }

  .post-footer {
    padding-left: 20rem;
  }

  /* Large Button */
  .post-footer button {
    padding: 2.4rem 3.2rem;
  }
}
