/* 
******************************
HERO SECTION
****************************** 
*/

/* Box illustration */
.hero-box-illustration {
  margin: 4.2rem 0 2.4rem 0;
}

.hero-box-illustration img {
  display: block;
}

/* Box information */
.hero-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  margin-bottom: 1.5rem;
}

.hero-text p {
  font-size: 1.4rem;
  line-height: 140%;
}

.hero-box-buttons {
  display: flex;
  gap: 0.8rem;
  height: 56px;
}

.hero-box-buttons .btn-primary {
  flex: 1;
}

.hero-box-buttons .btn-secondary {
  flex: 1;
}

.slogan {
  font-size: 1.4rem;
  line-height: 140%;
  text-align: center;
  padding: 0 1rem;
}

/* Partners logo */
.partners-logo {
  display: flex;
  gap: 3.6rem;
  height: 3.6rem;
  overflow: hidden;
}

.partners-logo img {
  width: 100%;
}
