/* 
******************************
HERO SECTION
****************************** 
*/

/* Box illustration */
.hero-box-illustration {
  margin: 4.2rem 0 2.4rem 0;
}

.hero-box-illustration img {
  width: 100%;
  display: block;
}

/* Box information */
.hero-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.2rem;
  margin-bottom: 1.5rem;
}

.hero-text p {
  font-size: 1.4rem;
  line-height: 140%;
}

.hero-box-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  min-height: 5.6rem;
}

.hero-box-buttons .btn-primary {
  flex: 1;
  text-transform: capitalize;
}

.hero-box-buttons .btn-secondary {
  flex: 1;
}

.slogan {
  font-size: 1.4rem;
  line-height: 140%;
  text-align: center;
  padding: 0 1rem;
}

/* Partners logo */
.partners-logo {
  display: flex;
  gap: 3.6rem;
  height: 3.6rem;
  overflow: hidden;
}

/* 
******************************
ABOUT US SECTION
****************************** 
*/
.section-about-us {
  background-color: var(--primary-peach-color);
  position: relative;
}

.about-box-illustration {
  margin-bottom: 4.8rem;
}

.about-box-illustration img {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
}

.about-box-illustration::after {
  content: "";
  display: inline-block;
  position: absolute;
  background: url("https://ui8-assets.s3.us-east-1.amazonaws.com/omoway/shape/grid-shape.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 45.7rem;
  top: 0;
  left: 0;
}

.about-box-information h2 {
  text-transform: capitalize;
}

.about-text {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 2.4rem;
}

.about-button {
  display: flex;
  justify-content: center;
  height: 5.6rem;
  letter-spacing: -0.1px;
}

/* 
******************************
RECENT WORK SECTION
****************************** 
*/

/* Section */
.section-recent-work {
  background-color: var(--secondary-black-color);
}

.articles-work {
  display: grid;
  justify-content: center;
  row-gap: 2.4rem;
}

/* Heading */
.work-box-heading {
  max-width: 35.8rem;
  color: var(--primary-warmth-color);
}

.work-creative-title {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 2.4rem;
}

.work-creative-title p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 100%;
}

.work-title {
  text-transform: capitalize;
  font-size: 4.2rem;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.3px;
  margin-bottom: 0.8rem;
}

/* Card */
.work-card {
  max-width: 35.8rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: start;
}

.work-card img {
  width: 100%;
  border-radius: 2.4rem;
}

/* Tags */
.card-tags {
  display: flex;
  align-items: center;
  gap: 2.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 100%;
  color: var(--secondary-medium-gray);
  margin-bottom: 1.2rem;
}

/* title */
.card-title {
  color: var(--primary-warmth-color);
  font-size: 2.4rem;
  letter-spacing: -0.1px;
  font-weight: 500;
  line-height: 100%;
}

/* Button */
.article-button {
  margin-top: 2rem;
  max-width: 35.8rem;
  text-align: center;
}

.article-button p {
  font-size: 1.4rem;
  line-height: 140%;
  color: var(--secondary-light-gray);
  margin-bottom: 3.2rem;
}

.article-button button {
  margin: 0 auto;
}
