/* COLOR STYLE GUIDE */
:root {
  /* Primary colors */
  --primary-electric-blue: #6319ff;
  --primary-vivid-green: #0cbb52;
  --primary-light-pink: #fbccd2;
  --primary-cream-color: #e2ccbf;
  --primary-peach-color: #fff3ed;
  --primary-peach-shade-color: #f0e5df;
  --primary-warmth-color: #fffefd;
  --primary-extra-color: #d2d2d2;
  /* Secondary colors */
  --secondary-black-color: #131313;
  --secondary-eerie-black: #1c1c1c;
  --secondary-dark-gray: #5a5a59;
  --secondary-medium-gray: #b3b3b3;
  --secondary-light-gray: #d2d2d2;
  /* Gradient */
  --gradient-slate-blue: #844aff;
  --gradient-vivid-violet: #6015ff;
}

/* Global */
html {
  font-size: 62.5%;
}

body {
  font-family: "General Sans", sans-serif;
  color: var(--secondary-dark-gray);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Container */
.container {
  max-width: 129rem;
}

/* Heading */
.heading-1 {
  color: var(--secondary-black-color);
  font-size: 4.8rem;
  font-weight: 500;
  text-align: center;
  line-height: 100%;
  letter-spacing: -0.2px;
}

.heading-2 {
  color: var(--secondary-black-color);
  font-size: 4.2rem;
  font-weight: 500;
  text-align: center;
  line-height: 100%;
  letter-spacing: 0.3px;
}

/* Padding */
.px-sm {
  padding: 0 1.6rem;
}

.py-layout {
  padding: 5.6rem 0;
}

/* Grid layout */
.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* Box icons */
.box-icon {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  background-color: var(--primary-light-pink);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-icon img {
  width: 1.4rem;
  height: 1.4rem;
}
